@layout('main')

@section('content')
@if(old('notification'))
<div class="alert alert-success">
    {{old('notification')}}
</div>
@endif
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">AdonisJS blog</h1>
    <p class="lead">Welcome to my blog on <b>AdonisJS</b>!</p>
  </div>
@endsection